services:
  web:
    build: .
    container_name: drf_web
    command: gunicorn src.wsgi:application --bind 0.0.0.0:8000 --workers 3
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - media_data:/app/media

  db:
    image: postgres:16
    container_name: drf_db
    environment:
      POSTGRES_DB: fintechhubuz
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1Dlshdvch_12
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  media_data:
